/_Auth
/_CompletedUploads
/_DownloadQueue
/_Logs
ia
/.vscode
_FFMPEG/ffmpeg
_FFMPEG/ffprobe
_FFMPEG/ffplay
*.pyc
/_Posted_CompletedUploads
/_Posted_UploadQueue
/_Live_CompletedUploads
*.cfg
.type
*.cfg
/_Live_Comments
/_Posted_Playlists
