ia
*.pyc
.type
/_Live_UploadQueue
/_Live_DownloadQueue
/_Live_CompletedUploads
/_Live_DownloadRecovery
/_Live_Comments
/_Posted_UploadQueue
/_Posted_DownloadQueue
/_Posted_CompletedUploads
/_Posted_Playlists
/_Posted_Community_Messages
/_Logs
/_Temp
