ia
*.pyc
.type
/_Live_UploadQueue
/_Live_DownloadQueue
/_Live_CompletedUploads
/_Live_DownloadRecovery
/_Live_Comments
/_Posted_UploadQueue
/_Posted_DownloadQueue
/_Posted_CompletedUploads
/_channel_playlists
/_Posted_Community_Messages
/_Temp
.vscode/settings.json
/.vscode


# DVR Runtime - contains all databases and runtime state
_DVR_Runtime/
# Note: Redundant folders _Auth, _Config, _Logs, _Meta, _Playlists are now consolidated into databases
